<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studios.samad.homebudget" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <receiver
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="false" >
        </receiver>

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewExpensesActivity" >
        </activity>
        <activity android:name=".AddExpensesActivity" >
        </activity>
        <activity android:name=".AddBillsActivity" >
        </activity>
        <activity android:name=".ViewBillsActivity" >
        </activity>
        <activity android:name=".AddIncomeActivity" >
        </activity>
        <activity android:name=".ViewIncomeActivity" >
        </activity>
        <activity android:name=".BudgetMenuActivity" >
        </activity>
        <activity android:name=".AddRentActivity" >
        </activity>
        <activity android:name=".ViewRentActivity" >
        </activity>
        <activity android:name=".AddFoodActivity" >
        </activity>
        <activity android:name=".ViewFoodActivity" >
        </activity>
        <activity android:name=".AddDepartmentalActivity" >
        </activity>
        <activity android:name=".ViewDepartmentalActivity" >
        </activity>
        <activity android:name=".AddEntertainmentActivity" >
        </activity>
        <activity android:name=".ViewEntertainmentActivity" >
        </activity>
        <activity android:name=".AddCarActivity" >
        </activity>
        <activity android:name=".ViewCarActivity" >
        </activity>
        <activity android:name=".AddMedActivity" >
        </activity>
        <activity android:name=".ViewMedActivity" >
        </activity>
        <activity android:name=".TotalAmount" >
        </activity>
        <activity android:name=".AddBudgetActivity" >
        </activity>
    </application>

</manifest>
